<div class="container">

  
    <div class="row" style="width: 100%;">
      <div class="col-lg-6">
        <table class="table table-striped-columns"> 
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Stage</th>
              <th scope="col">Closed Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let opportunity of response.data; let i = index">
              <th scope="row">{{i}}</th>
              <td>{{ opportunity.opportunityName }}</td>
              <td>{{ opportunity.stageName }}</td>
              <td>{{ opportunity.closeDate }}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <div class="col-lg-6">
        <table class="table table-striped-columns">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody *ngFor="let quote of response.data; let j = index">
            <tr *ngFor="let quotes of quote.quotes; let i = index">
              <th scope="row">{{i}}</th>
              <td (click)="itemList(quotes.quoteLineItems,quotes.quoteName)"><a>{{ quotes.quoteName }}</a></td>
              <td>{{ quotes.status }}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>

    
  </div>
  <br><br><br>
  
  


<div *ngIf="showItem" style="width: 100%; margin:10px 0 10px 0">
  <h1 style="text-align: center;">Quote Line Items For {{itemName}}</h1><br>
  <div class="row"  >
    <div class="col-lg-12">
      <table class="table table-striped-columns"> 
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Line ItemId</th>
            <th scope="col">Unit Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itemLists; let i = index">
            <th scope="row">{{i}}</th>
            <td>{{ item.lineItemId }}</td>
            <td>{{ item.unitPrice }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.description }}</td>
          </tr>
          
        </tbody>
      </table>
    </div>
    
  </div>
</div>